body {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Source Serif Pro", serif;
  color: #555;
  line-height: 1.7;
}

* {
  box-sizing: border-box;
}

nav,
.content {
  max-width: calc(70ch + 2rem);
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
}

nav {
  margin: 0 auto;
}

a {
  color: #e11;
}

footer {
  background-color: #454545;
  color: #eee;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav a {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

footer {
  box-shadow: 0 0 20px  rgba(0, 0, 0, 0.5)
}
