<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }}</title>

  <meta name="description" content="{{ site.description }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="">

  {%- set css -%}
    {% include "css/main.css" %}
  {%- endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap" rel="stylesheet">
</head>

<body class="grid">

  <div class="content">
  {{ content | safe }}
  </div>

  <footer>
    <nav>
      <a href="/">Startseite</a>
      <a href="/handlung/">Von Midgar bis ans Ende der Welt</a>
      <a href="/mythologie-und-symbolik/">"Ich bin, was du siehst"</a>
      <a href="/faq/">Reunion</a>
      <a href="https://twitter.com/ddprrt">@ddprrt auf Twitter</a>
    </nav>
  </footer>

</body>

</html>
