---
title: Final Fantasy VII entschlüsselt
layout: base.njk
---

<img loading="lazy" alt="Final Fantasy VII logo" src="/img/logo.svg">

<h1 class="headline"><span class="sr-only">Final Fantasy VII</span>entschlüsselt</h1>

<figure class="quote" lang="en">
  <blockquote>
    <p>16-bit plot: Standard RPG plot. The Corrupt Empire rules the world. You're the leader of a small rebel band. Overthrow the Empire. Usually the hero is a soldier for the Empire at the start of the game, but soon realizes that the Empire is evil and joins the fight against them. General standard for RPG plots.</p>
    <p>32-bit plot: Similar to a 16-bit plot, but somehow religion is involved.</p>
  </blockquote>
  <figcaption>
    &mdash; The GIA, 
      <cite>
        <a href="https://tvtropes.org/pmwiki/pmwiki.php/Website/TheRPGClichesGame" target="_blank" rel="noopener nofollow">
          The RPG Clichés Game
        </a>
      </cite>
  </figcaption>
</figure>

<section>
  <h2>Ein kleiner Hintergrund</h2>
  <p>
    In den späten 90ern, rund um die Jahrtausendwende, gab es zahlreiche Videospiel Webseiten die von Fans betrieben wurden und sich großer Beliebtheit erfreuten. Zusammen mit einigen Kollegen, die man im Internet kennen gelernt hat (das war damals noch was ganz eigenartiges), habe ich eine Website zu <em>Final Fantasy</em> betrieben. Eine der wenigen, die auch nach der unfreiwilligen Annihilation ganzer Netzwerke durch die Dotcom-Blase weiter bestehen blieben.
  </p>
  <p>
    Ein Herzstück von <em>Squareworld</em>, wie es damals hieß, war die ausführliche Analyse von <em>Final Fantasy VII</em>, dem wohl beliebtesten Spiel der Reihe. Mein Kollege <a href="https://twitter.com/paroxysmus">Moritz</a> hat versucht Theorien zusammenzufassen, gab gehörig eigenen Senf dazu und beantwortete ungeklärte Fragen. Jedes Mal wenn im Text also der Autor von sich selbst spricht, ist das Moritz.
  </p>
  <p>
    Mit dem Erscheinen von <em>Final Fantasy VII Remake</em> habe ich mich in meinen Archiven auf die Suche nach dieser Analyse gemacht und sie mit modernen Web-Technologien wieder veröffentlicht (wieder statisch, aber &mdash; passend &mdash; in der Cloud). Der Inhalt bezieht sich noch auf die Original-Fassung, allerdings habe ich versucht die Links so gut es ging wieder herzustellen (entweder auf Archive.org oder auf anderen Seiten, die ebenso Content gerettet haben), Bilder zu aktualisieren, und den einen oder anderen Faux-Pas auszubügeln.
  </p>
  <p>
  <p>Viel Spaß beim Lesen!</p>
</section>

<section>
  <h2>Inhalt</h2>

  <p>Achtung: Spoiler voraus! All die armen Seelen, die Final Fantasy VII noch nicht durchgespielt haben, sollten hier nicht weiterlesen.</p>

  <dl>
    <dt><a href="/handlung/">Von Midgar bis ans Ende der Welt</a></dt>
    <dd>Zusammenfassung der Handlung</dd>
    <dt><a href="/mythologie-und-symbolik/">"Ich bin, was du siehst"</a></dt>
    <dd>Namenssymbolik der Charaktere und mythologische Anspielungen</dd>
    <dt><a href="/faq/">Reunion</a></dt>
    <dd>FAQ zur Story und Links zu anderen Seiten</dd>
  </dl>
</section>
